.Presentes-container {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 3rem;
  margin-bottom: 5rem;
  padding: 1rem;
}

.Presentes {
  transition: all 1000ms ease-in-out;
  width: 50%;
  height: fit-content;
  padding: 1rem;
  max-width: 25rem;
  min-width: 20rem;
  background: rgb(215, 215, 215);
  border: 3px solid #000;
  border-radius: 0;
  box-shadow: 15px 15px 0 -2.5px rgb(215, 215, 215), 15px 15px 0 0 #000;
  transition: all 500ms ease-in-out;
}

.Presentes:hover {
  box-shadow: none;
  background-color: aliceblue;
}

.btn-translate {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bol;
}

.btn-translate-not-active {
  background-color: rgb(149, 185, 198);
}

.Presentes-2 {
  display: flex;
  align-self: center;
  height: 10rem;
  width: 10rem;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.Presentes-2 p {
  margin: 0;
  margin-top: 15px;
}

.Presentes-3 {
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-self: center;
}

.devicon {
  height: 50px;
}

.gambiarra-icon {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  margin-right: 10px;
  margin-top: 12px;
  font-size: 20px;
  align-self: center;
  justify-self: center;
}
