.container-dates {
  display: flex;
  height: 50%;
  gap: 1rem;
  color: #70769f;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
}
