header {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

.header-msg {
  width: 40%;
  margin: 0 2rem;
  background-color: #70769f;
  display: flex;
  transition: all 420ms ease-in-out;
  justify-content: center;
  align-content: center;
  padding: 10px 0;
  border: 2px #e0b1cb solid;
  border-top: none;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  margin-bottom: 1rem;
  min-width: 300px;
}

.welcome-msg {
  font-size: 4em;
  transition: all 420ms ease-in-out;
  cursor: pointer;
  width: auto;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}
